
<div class="col-md-4 position-absolute top-50 start-50 translate-middle">
    <h2 class="bg-secondary text-white text-center p-1 rounded">File Upload</h2>
    <div class="rounded bg-light p-1">
        <input class="fileMargin" type="file" accept="application/pdf, image/jpeg, image/png, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, text/plain, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" 
                (change)="onChange($event)">
    
        <button (click)="onUpload()" 
            class="btn btn-success">
            Upload
        </button>
        <div class="container" *ngIf="loading">
            <h5>Loading ...</h5>
        </div>
        <div class="container alertMessage" *ngIf="!loading">
            <h6>{{ message }}</h6>
        </div>
    </div>
</div>
  
<!-- Shareable short link of  uoloaded file -->
<!-- <div class="container text-center jumbotron"
    *ngIf="shortLink">
    <h2> Visit Here</h2>
    <a href="{{shortLink}}">{{shortLink}}</a>
</div> -->
  
<!--Flag variable is used here-->
<!-- <div class="container" *ngIf="loading">
    <h3>Loading ...</h3>
</div>
<div class="container" *ngIf="!loading">
    <h3>{{ message }}</h3>
</div> -->